body{
    display: flex;
    /* flex-direction: column; */
}
.basic-container{
    width: 1200px;
}

h3{
    margin-left: 18%;
    font-family: 'sorce sans pro', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 31.43px;
    color: #7D7D7D;
}

.property-navbar ol{
    width: 60%;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
    margin-left: 320px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
}

.property-navbar ol li{
    color: #7D7D7D;
    margin: auto 0;
    cursor: pointer;
    padding-left: 0;
}

.property-navbar ol li:hover{
    background-color:aliceblue;
    border-radius: 15px;
}

.property-navbar ol .selected{
    background-color:rgb(9, 78, 138);
    color: #FFFFFF;
    border-radius: 25px;

}

.property-navbar ol .selected:hover{
    background-color:rgb(9, 78, 138);
    color: #FFFFFF;
    border-radius: 25px;
}

.form-container{
    width: 60%;
    margin: 0 auto;
    font-family: sans-serif;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #7D7D7D;
    padding: 20px;
}

.form-container .field-container{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-container .field-container div{
    width: 40%;
}


.form-container .field-container label{
    display: block;
    margin-bottom: 20px;
}




.form-container .field-container input,
.form-container .field-container select{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}


.form-container .btn{
    margin-left: 40%;
}

.btn button{
    padding: 8px 14px;
    border-radius: 25px;
    border: none;
    font-family: sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

.btn button:first-child{
    background-color: #5dadf9;
    margin-right: 15px;
}

.btn button:last-child{
    background-color: #053c6e;
}


@media screen and (max-width: 768px) {

    .property-navbar ol{
        width: 80%;
    }

    .property-navbar ol li{
        /* width: 80%; */
        margin-left: -20px;
    }
    
    .form-container .btn{
        margin-left: 10%;
    }
    
    .form-container div{
        width: 100%;
    }
}