body{
    background-color: #FAFBFC;
}

h3{
    margin-left: 18%;
    font-family: 'sorce sans pro', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 31.43px;
    color: #7D7D7D;
}

.property-navbar ol{
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
    background-color: #FFFFFF;
}

.property-navbar ol li{
    color: #7D7D7D;
    margin: auto 0;
    padding: 15px;
    cursor: pointer;
}

.property-navbar ol li:hover{
    background-color:aliceblue;
    border-radius: 15px;
}

.form-container{
    width: 60%;
    margin: 0 auto;
    font-family: sans-serif;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #7D7D7D;
    padding: 20px;
}

.form-container .field-container{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-container .field-container div{
    width: 40%;

}


.form-container .field-container label{
    display: block;
    margin-bottom: 20px;
}




.form-container .field-container input,
.form-container .field-container select{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}



